html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
}
}

.top-nav-collapse {
  background-color: #78909c !important;
  border: 1px; 
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.title-section{
  padding: 30px;
  margin: 0px 0 40px 0;
  width: 100%;
  float: left;
  background: transparent;
  border: 1px solid black;
  color:black;
}

.contact-section{
  padding: 30px;
  margin: 0px 0 40px 0;
  width: 100%;
  float: left;
  background: transparent;
  border: 1px solid black;
  color:black;
}

.about-section {
  padding: 30px;
  margin: 0px 0 40px 0;
  width: 100%;
  float: left;
  background: transparent;
  border: 1px solid black;
  color:black;
}

.portfolio-section {
  padding: 30px;
  margin: 0px 0 40px 0;
  width: 100%;
  float: left;
  background: transparent;
  border: 1px solid black;
  color:black;
}


.work {
  position: static;
  width: 125px;
  overflow: auto;
  float: left;
  margin: 20px 20px 20px 20px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 1;
}
.work h6 {
  position: relative;
  bottom: 20px;
  margin-bottom: 0px;
  margin-top: 55px;
  width: 100%;
  color: BLACK;
  text-align: center;
  line-height:30px;
  font-weight: 300;
  background:0 0 0 0;
  border-bottom: 0;
  
}

#contact-form ul {
  margin-bottom: 20px;
  max-width: 960px;
  list-style-type: none;
}

#contact-form li {
  margin-bottom: 10px;
  list-style-type: none;
  display:block;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  padding-right:15px;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  background:transparent;
}

textarea {
  height: 150px;
}

input[type=submit] {
  padding: 10px 30px;
  color: black;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  opacity:1;
  display: block;
}

a, a:hover {
	color: #000;
	text-decoration: none;
	padding: 5px;
}

#headerContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body, html {

  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  
}

.kont {
  position: relative
}

.kont video {
  width: 100%;
  height:auto;
}

.kont .ent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(28,31,39, 0.6)
}

.ent {
  width: 100%;
  height: auto;
  position: absolute;
}


  